# Data types, variables & basic operations

Let's get started with the lab sessions by understanding some basics of programming with Python. We will start with learning about different data types, variables, and how to do some basic operations.

> Data type or simply type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data (Wikipedia).


## Integer and float

Integers and floats are two of the most basic data types. We can perform simple arithmetic operations with them and use Python as if it was a simple calculator.

In [ ]:
1+1

In [ ]:
3/2

Can you think of other calculations that leads to integers and floats? 
Is the data type result what you expected it to be?

In [ ]:
# TODO: think of a division that should lead to an integer

In [ ]:
# TODO: think of a division that should lead to a float

## Variables

You can also define variables using the equals (=) sign and perform calculations with them. But there are some rules:

- You can name a variable almost anything you want, but you should try to always use descriptive names;
- It needs to start with an alphabetical character or "\_" and can contain alphanumeric characters plus underscores ("\_");
- Certain words, however, are reserved for the language:
    **and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, while, with, yield**;
- Trying to define a variable using one of these will result in a syntax error.

For example:

In [ ]:
return = 0

The error messages are often quite clear in explaining what went wrong, so if you get one don't be afraid! Try to read it and understand what went wrong.

Let's now define some variables related to size and calculate some geometrical measures with it:

In [ ]:
width = 20
length = 30
depth = 10
area = length*width
area

If you try to access a variable that you haven't defined yet, you will also get an error:

In [ ]:
volume

Now try to calculate volume with the variables that were defined above:

In [ ]:
# TODO: calculate volume using the variables from above

## Strings

Strings are another basic data type and they are sequential. They are basically letters, symbols, words or texts and can be defined using single quotes:

In [ ]:
'Hello, Big Data Analytics Class!'

or double quotes:

In [ ]:
"Hello, Big Data Analytics Class!"

But not both at the same time, unless you want one of the symbols to be part of the string:

In [ ]:
"She's a Data Scientist"

In [ ]:
'He asked: "How are you today?"'

You can also assign a string to a variable:

In [ ]:
greeting = "Hello, Big Data Analytics Class!"

The print statement is often used for printing character strings:

In [ ]:
print(greeting)

In [ ]:
# TODO: now define and print another greeting

**Side note**: We can also use print with data types other than strings:

In [ ]:
print("The area is", area)

You can use the + operator to concatenate strings together:

In [ ]:
statement = "Hello," + "teacher!"
print(statement)

Don't forget the space between the strings, if you want one there.

In [ ]:
statement = "Hello, " + "teacher!"
print(statement)

You can use + to concatenate multiple strings in a single statement:

In [ ]:
print("This " + "is " + "a " + "longer " + "statement.")

## Lists & indices

Very often in a programming language, one wants to keep a group of similar items together. Python does this using a data type called lists.

In [ ]:
days_of_the_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

You can access members of the list using the **index** of that item:

In [ ]:
days_of_the_week[2]

Python lists use 0 as the index of the first element of a list. Thus, in this example, the 0 element is "Monday", 1 is "Tuesday", and so on.

In [ ]:
print(days_of_the_week[0])

If you need to access the n'th element from the end of the list, you can use a negative index. For example, the -1 element of a list is the last element:

In [ ]:
days_of_the_week[-1]

You can add additional items to a list using the .append() method:

In [ ]:
languages = ["Fortran", "C", "C++"]
languages.append("Python")
print(languages)

Now we are going to define a list with the names of the teachers from this course:

In [ ]:
names = ["Emiel", "Hans", "Ekaterini", "Arash", "Vernes", "Joris", "Aiara"]

In [ ]:
# TODO: print the name of the teacher who gave you the lecture "Data Management & Business Intelligence"

In [ ]:
# TODO: print the name of the teacher who gave you the lecture "Cyber resilience" 
# using the notation with the smallest possible number

In [ ]:
# TODO: now append your name to the list of names and print the result

You can find out how long a list is by using the len() function and giving the list as input. You can also check the documentation of functions using the `help` function:

In [ ]:
help(len)

In [ ]:
# TODO: how many names are included in the `names` list?

Lists do not have to hold the same data type. For example:

In [ ]:
["Answer", 42, 3.1416]

However, it's good (but not essential) to use lists for similar objects that are somehow logically connected. If you want to group different data types together into a composite data object, it's best to use tuples, which we will learn about below.

## Tuples

A tuple is a sequence object like a list or a string. It's constructed by grouping a sequence of objects together with commas and enclosed with parentheses:

In [ ]:
t = ('Answer', 42, 3.1416)
t

Tuples are like lists, in the sense that you can access the elements using indices:

In [ ]:
t[1]

However, tuples are immutable, you can't append to them or change the elements of them:

In [ ]:
t.append(7)

In [ ]:
t[1] = 0

Tuples are useful anytime you want to group different pieces of data together in an object. For example, let's say you want the Cartesian coordinates of some objects in your program. Tuples are a good way to do this:

In [ ]:
('Leia', 0.0, 21.0)

Again, it's not a necessary distinction, but one way to distinguish tuples and lists is that tuples are a collection of different things, here a name, and x and y coordinates. Whereas a list should be a collection of similar things, like if we want a list of coordinates:

In [ ]:
positions = [
             ('Leia', 0.0, 21.0),
             ('Luke', 1.0, 21.0),
             ('C3PO', 2.0, 21.0)
             ]

Tuple assignment is also a convenient way to swap variables:

In [ ]:
x, y = 1, 2
y, x = x, y
x, y

In [ ]:
# TODO: create 3 different tuples containing 4 elements of your choice each. 
# Create a list containing all the 3 tuples. 
# Can you print each element of the list?

## Dictionaries

Dictionaries are objects called "mappings" or "associative arrays" in other languages. Whereas a list associates an integer index with a set of objects:

In [ ]:
mylist = [1, 2, 9, 21]

The index in a dictionary is called a key, and the corresponding dictionary entry is the value. A dictionary can use (almost) anything as a key. Lists are formed with square brackets [], tuples with parentheses (), and dictionaries with curly brackets {}:

In [ ]:
ages = {
    "Alice": 46, 
    "Bob": 86
}
print("Alice's age is", ages["Alice"])

There's also a convenient way to create dictionaries without having to quote the keys.

In [ ]:
dict(Alice=46, Bob=86)

The len() function also works on tuples and dictionaries:

In [ ]:
len(t)

In [ ]:
len(ages)

In [ ]:
# TODO: create a dictionary containing your name, age, year of birth, and your desired grade

## Slicing

Lists and strings have something in common that you might not suspect: they can all be treated as sequences. You can use the slicing operation on any sequence. We already know that we can use indexing to get the first element of a list:

In [ ]:
days_of_the_week[0]

If we want the list containing the first two elements of a list, we can do this by slicing the list:

In [ ]:
days_of_the_week[0:2]

or simply:

In [ ]:
days_of_the_week[:2]

Note that Python does not include the last specified index. 

If we want the last items of the list, we can do this with negative slicing. This is somewhat logically consistent with negative indices accessing the last elements of the list:

In [ ]:
days_of_the_week[-2:]

In [ ]:
# TODO: make a new list called `workdays` by slicing days_of_the_week

Since strings are sequences, you can also slice them:

In [ ]:
day = "Wednesday"
abbreviation = day[:3]
print(abbreviation)

If we really want to get fancy, we can pass a third element into the slice, which specifies a step length:

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = numbers[1::2]
odd_numbers

Note that in this example we were even able to omit the second argument, so that the slice started at 1, went to the end of the list, and took every second element, to generate a list of odd numbers.

## Booleans and truth testing

We have now learned about data types. We have integers, floating point numbers, and strings. We have also learned about lists, a container that can hold any data type, tuples and dictionaries. We have learned to print things out, and slice through elements. We will now learn about boolean variables that can be either True or False, which is a very usefull concept in programming.

You can compare any data types in Python:

In [ ]:
1 == 2

In [ ]:
50 == 2*25

In [ ]:
3 < 3.14159

In [ ]:
1 == 1.0

In [ ]:
1 != 0

In [ ]:
2 <= 1

In [ ]:
1 >= 1

We see a few other boolean operators here, all of which which should be self-explanatory. Less than, equality, non-equality, and so on.

Particularly interesting is the 1 == 1.0 test, which is true, eventhough the two objects have different data types (integer and floating point number), they have the same value. There is another boolean operator `is`, that tests whether two objects are the same object:

In [ ]:
1 is 1.0

We can do boolean tests on lists as well:

In [ ]:
[1, 2, 3] == [1, 2, 4]

In [ ]:
[1, 2, 3] < [1, 2, 4]

Finally, note that you can also perform multiple comparisons together, which can result in very intuitive tests:

In [ ]:
hours = 5
0 < hours < 24

In [ ]:
# TODO: create a comparison with the `hours` variable that leads to a False result