# Data manipulation with Pandas

Pandas is a Python library that provides extensive means for data analysis. Data scientists often work with data stored in table formats like .csv, .tsv, or .xlsx. Pandas makes it very convenient to load, process, and analyze such tabular data using SQL-like queries. In conjunction with Matplotlib and Seaborn, Pandas provides a wide range of opportunities for visual analysis of tabular data.

The main data structures in Pandas are implemented with the **Series** and **DataFrame** classes. The former is a one-dimensional indexed array of some fixed data type. The latter is a two-dimensional data structure - a table - where each column contains data of the same type. You can see it as a dictionary of Series instances. DataFrames are great for representing real data: rows correspond to records and columns correspond to variables of these records.

In [ ]:
import pandas as pd

## Load and inspect a dataframe

We’ll demonstrate the main methods in action by analyzing a sample dataset. Let’s read the data (using read_csv).

Meaning of columns:

- CRIM: per capita crime rate by town
- ZN: proportion of residential land zoned for lots over 25,000 sq.ft.
- INDUS: proportion of non-retail business acres per town.
- CHAS: Charles River dummy variable (1 if tract bounds river; 0 otherwise)
- NOX: nitric oxides concentration (parts per 10 million)
- RM: average number of rooms per dwelling
- AGE: proportion of owner-occupied units built prior to 1940
- DIS: weighted distances to five Boston employment centres
- RAD: index of accessibility to radial highways
- TAX: full-value property-tax rate per \$10,000
- PTRATIO: pupil-teacher ratio by town
- LSTAT: \% lower status of the population
- MEDV: Median value of owner-occupied homes in \$1000's

In [ ]:
df = pd.read_csv('BostonHousing.csv')

In [ ]:
df.head()

Shape of the data in (rows, columns):

In [ ]:
df.shape

We can take a look at the first 5 rows using the head method:

In [ ]:
df.head()

You can also have a look at the last rows using the tail method:

In [ ]:
df.tail()

Some descriptive statistics:

In [ ]:
df.describe()

Column names and info:

In [ ]:
df.columns

In [ ]:
df.info()

We already covered integers (int64) and floating point numbers (float64). Now let's convert `CAT. MEDV` to a string:

In [ ]:
df['CAT. MEDV'] = df['CAT. MEDV'].astype(str)

Let's see what happened:

In [ ]:
df.info()

Now we see a different data type (object), which is basically a string.

In order to see statistics of non-numerical features, one has to explicitly indicate data types of interest in the include parameter:

In [ ]:
df.describe(include=['object'])

For categorical (type object) and boolean (type bool) features we can use the value_counts method. Let’s have a look at the distribution of CAT. MEDV:

To calculate fractions: add **normalize=True** to value_counts.

In [ ]:
df['CAT. MEDV'].value_counts()

What do the counts above refer to?

In [ ]:
# TODO: now print the fractions of the categorical variable CAT. MEDV

## Indexing and selecting data

Often we want to see (or work with) a selection of the data. This can be achieved by [indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html). 

There are different ways to select rows and/or columns in pandas. One way you will often encounter is selection by square brackets `[]` or attribute operator `.`

This is a quick way to select some rows or columns. We'll show this with examples.

### Indexing by `[]` examples

In [ ]:
# Selecting first 3 rows
df[:3]

In [ ]:
# Selecting CRIM column
df['CRIM']

You can also select a column by using the attribute operator `.`. A column can be seen as an attribute of the dataframe:

In [ ]:
df.CRIM

In [ ]:
# For selecting both rows and columns you'll need more sets of brackets
df[:3]['CRIM']

In [ ]:
# Rows can also be selected with a conditional statement
# e.g. all rows with ZN = 18
df[df.ZN == 18]

In [ ]:
# What does that conditional statement actually look like?
df.ZN == 18

In [ ]:
# TODO: now select all rows with AGE smaller than 10 
df[df.AGE < 10]

### Indexing by `.loc` examples

The `.loc` method, so called label-indexing, works by defining a row_indexer and a column indexer. You can select both rows and columns with a single set of square brackets: `df.loc[row_indexer,column_indexer]`

In [ ]:
# All rows (that's the colon) and 'ZN' column, separated by a comma
df.loc[:, 'ZN']

In [ ]:
# All rows and multiple columns (columns should be in a list)
df.loc[:, ['ZN', 'AGE', 'CAT. MEDV']]

In [ ]:
# You can select rows by using their index label (the first bold column in data is the index)
# Caveats:
# 1. this is only useful if that index label is meaningful (here it isn't really). Works very nice with dates.
# 2. please note the code below does not always return the 5th row (for that you can use .iloc)
df.loc[5, ]

In [ ]:
# Also with .loc we can use conditional statements
df.loc[df.ZN == 18, ]

In [ ]:
# We could use those to get all the houses older than 50 years
df.loc[df.AGE > 50, ['ZN', 'AGE', 'CAT. MEDV']]

In [ ]:
# You can have more than 1 conditional statement (don't forget the additional parentheses)
# for example: all houses older than 50 years with average number of rooms greater than 8
df.loc[(df.AGE > 50) & (df.RM > 8), ['RM', 'AGE', 'CAT. MEDV']]

### Indexing by .iloc

The `.iloc` method is primarily integer based and can select the i-th row and/or column, or a slice.

In [ ]:
# So now you can select both rows and columns by their integer position
# for example, first row and first column
df.iloc[0, 0]

In [ ]:
# Or a range of rows and second column
df.iloc[:5, 1]

## Simple calculations

Knowing how to index also allows you to perform calculations on parts of the data.

In [ ]:
df.head()

In [ ]:
# What is the average age of all the houses?
df.AGE.mean()

In [ ]:
# What is the maximum tax?
df.TAX.max()

In [ ]:
# TODO: what is the average tax?

In [ ]:
# Even on a subset of the dataframe you can calculate. The default is column-wise
df[['AGE', 'TAX']].mean()

Above calculations were all column-wise. They took all values of a column and calculated a statistic.

You can also perform calculations row-wise, but then you don't get 1 statistic as answer, but a Series. This Series you can then use to add as a column or to calculate something on the fly.

In [ ]:
# Distance in meters to employment centres
df.DIS*1000

In [ ]:
# Calculate on the fly
# average distance to employment centres in meters
(df.DIS*1000).mean()

In [ ]:
df.head()

In [ ]:
# We saw this one before, with a column-wise default
# you can get a row-wise calculation by adding axis=1
df[['TAX', 'MEDV']].sum(axis=1)

## Sorting

A DataFrame can be sorted by the value of one of the variables (i.e columns). For example, we can sort by values of a variable (use ascending=False to sort in descending order):

In [ ]:
df.sort_values(by='AGE', ascending=False)

You can sort by multiple columns by passing them to the function as a list:

In [ ]:
df.sort_values(by=['AGE', 'RM'], ascending=False)

Note that most methods do not change the original dataframe, but return a copy. If we look at `df` now we will see it is **not** sorted:

In [ ]:
df.head()

If we want to keep `df` sorted, we have to overwrite it or use the inplace=True argument:

In [ ]:
df = df.sort_values(by=['AGE', 'RM'], ascending=False)

# or with inplace=True
df.sort_values(by=['AGE', 'RM'], ascending=False, inplace=True)
# and then df itself stays sorted
df.head()

## Missing values

An easy way to see the number of missing values per column is the isnull() method:

In [ ]:
df.isnull().sum()

Missing values are displayed as NaN, which stands for 'Not a Number'.

In [ ]:
df.loc[df.NOX.isnull(), ]

### Replace missing values

Pandas has a `fillna` method to replace missing values by a certain value.

We can replace the missing NOX emissions by the average:

In [ ]:
df.NOX.fillna(value=df.NOX.mean(), inplace=True) # notice the attribute operator to select the column

In [ ]:
# Now there are no more missing data for NOX
df.isnull().sum()

### Remove rows with missing values

Sometimes, the null values are best if removed. In those cases you want to remove all the NA/NAN values.

In our case we'll remove the rows where CHAS is missing.

In [ ]:
print("Rows before: ", df.shape[0])
df.dropna(inplace=True)
print("Rows after dropping rows with missing values: ", df.shape[0])

## Data update/wrangling

We can wrangle our data in many ways. Here we will just show a very small selection of what you can do.

### Creating new columns

We can create new columns by using the square brackets notation. Some examples:

In [ ]:
# A new column where every row has a fixed value
df['DATE'] = '03-11-2021'
df['CITY'] = 'USA_Boston'
df.head()

In [ ]:
# A new column which is calculated from existing columns
df['DIS_m'] = df.DIS*1000
df.head()

In [ ]:
# A new column which is a substring of another column (note the .str notation again)
df['COUNTRY'] = df.CITY.str[:3]
df.head()

In [ ]:
# TODO: can you think of an interesting column to calculate with the variables you have?

### Deleting columns

In [ ]:
df.drop('DIS_m', axis=1, inplace=True) # axis=1 indicates you want to drop a column
df.head()

In [ ]:
# You can drop multiple columns at once by passing them as a list to the drop function
df.drop(['CHAS', 'COUNTRY'], axis=1, inplace=True) # axis=1 indicates you want to drop a column

### Replacing values

Suppose we want to change the distance to meters:

In [ ]:
df.CITY.replace('USA_Boston', 'Boston', inplace=True)

In [ ]:
# What happened?
df.head()

You can also replace a part of the text, such as replacing a dash (-) by a slash (/), but then it is necessary to add the `.str` method. This ensures that the replace operation is applied to every single row.

In [ ]:
df.DATE = df.DATE.str.replace('-', '/')
df.head()

### Subsetting the data

Suppose we need a subset of the data including only houses older than 50 years:

In [ ]:
df_50 = df[df.AGE > 50]
df_50.head()

## Groupby (split-apply-combine)

This is a method that summarizes the data of a more extensive table using an aggregating function. This summary might include sums, averages, or other statistics.

We may want to see the average columns by ZN:

In [ ]:
df_ZN = df.groupby('ZN').mean()
df_ZN.head()

Note that the index has changed to the column we grouped by.

So what happened here exactly? Let's have a closer look at one ZN: 12.5

In [ ]:
df[df.ZN == 12.5]

The groupby we applied has taken the average of the numerical variables of those 10 rows.

There's a lot more to groupby than we have time for in this tutorial. A [more in-depth overview can be found here](https://https://pandas.pydata.org/docs/user_guide/groupby.html), and looking at the [examples of the .agg](https://https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html) method is useful in this context.

In [ ]:
# Last example
df.groupby('ZN').agg(MEDV_mean=('NOX', 'mean'),
                     min_AGE=('AGE', 'min'),
                     max_AGE=('AGE', 'max')).head()

In [ ]:
# TODO: now how do you get the average of all the numerical columns per CAT.MEDV?

## Transposing

Occasionally transposing (switching rows and columns) can be helpful.

In [ ]:
# Remember describe()?
df.describe()

In [ ]:
# Perhaps you like to read it like this?
df.describe().T

You hopefully now have all the tools to perform basic operations with pandas!